<section id="collection" class="py-5">
    <div class="container">
        <div class="row g-0">
            <div class="collection-list mt-2 row gx-0 gy-3">
                <center>
                    <h2>Nuestros Productos</h2>
                    <br><br>
                    <a href="/agregaProd">
                        <button type="button" class="btn btn-info mx-3">Agregar productos</button>
                    </a>
                </center>
                {{#each prods}}
                <div class="col-md-6 col-lg-4 col-xl-3 p-2 d-flex align-items-center justify-contents-center flex-column">
                    <div class="collection-img">
                        <img src="/images/{{this.aliasImg}}.png" style="width:auto; height:150px;">
                    </div>
                    <div class="text-center">
                        <p class="text-capitalize my-1">{{this.nom}}</p>
                        <br>
                        <p class="text-capitalize my-1">{{this.descrip}}</p>
                        <br>
                        <span class="fw-bold">${{this.precio}}</span>
                        <br><br>
                        <a href="/editProd?id={{this._id}}">
                            <button type="button" class="btn btn-secondary mx-3">Editar Producto</button>
                        </a>
                        <br><br>
                        <a href="/delProd?id={{this._id}}&img={{this.aliasImg}}">
                            <button type="button" class="btn btn-warning mx-3">Eliminar Producto</button>
                        </a>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</section>